    <form role="form" action="?route=login"  accept-charset="UTF-8" method="post">
        <div class="form-group">
            <label>Логин</label>
            <input type="text" class="form-control" name="login" placeholder="Введите логин">
        </div>
        <div class="form-group">
            <label>Пароль</label>
            <input type="password" class="form-control" name="password" placeholder="Введите пароль">
        </div>
        <button class="btn btn-success">Войти</button>
    </form>