<?php if (!$_GET['route'] || $_GET['route'] == 'comment') {
    require 'comments.phtml'; ?>
<?php } ?>

<?php if ($_GET['route'] == 'edit') { ?>
    <form role="form" action="?route=edit&id=<?php echo $data[0]->id; ?>"  accept-charset="UTF-8" method="post" id="addComment">
<?php } else { ?>
    <form role="form" action="?route=add"  accept-charset="UTF-8" method="post" id="addComment">
<?php } ?>
    <div class="form-group">
        <label>Имя</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Имя"
               value="<?php if (isset($data[0]->name) && $_GET['route'] == 'edit') echo $data[0]->name; ?>"/>
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail"
               value="<?php if (isset($data[0]->email) && $_GET['route'] == 'edit') echo $data[0]->email; ?>"/>
    </div>
    <div class="form-group">
        <label>Текст сообщения</label>
        <textarea id="text" class="form-control" name="text" rows="3"><?php if (isset($data[0]->text) && $_GET['route'] == 'edit') echo $data[0]->text; ?></textarea>
    </div>
<?php if ($_GET['route'] == 'edit') { ?>
    <button class="btn btn-success">Изменить</button>
<? } ?>
    </form>

<?php if ($_GET['route'] != 'edit') {
    require 'preview.phtml'; ?>
    <button data-toggle="modal" data-target="#previewModal" id="preview" class="btn btn-primary">Предварительный
        просмотр
    </button>
    <button id="send" class="btn btn-success">Отправить</button>
<?php } else { ?>
<?php } ?>