<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?php echo $data['title'] ? $data['title'] : 'Главная страница'; ?></title>
    <link rel="stylesheet" href="/web/bootstrap/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="row">
        <?php if (!$_SESSION['isAdmin']) { ?>
            <a href="?route=login">Войти в админку</a>
        <?php } else { ?>
            <a href="?route=logout">Выйти</a>
        <?php } ?>